@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 300;
  src: url('https://sfo3.digitaloceanspaces.com/qnd41-staticfiles/static/baton/app/src/fonts/PierSans-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 400;
  src: url('https://sfo3.digitaloceanspaces.com/qnd41-staticfiles/static/baton/app/src/fonts/PierSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 700;
  src: url('https://sfo3.digitaloceanspaces.com/qnd41-staticfiles/static/baton/app/src/fonts/PierSans-Bold.ttf') format('truetype');
}
